In [1]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn import preprocessing
import pandas as pd
import numpy as np
train=pd.read_csv("train.csv")
td=pd.DataFrame(train)
#print (td)
#print (train)
test=pd.read_csv("test.csv")
td1=pd.DataFrame(test)
#print (test)

In [17]:
td.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    1  22.0      1      0   7.2500     0     None
1         1       1    0  38.0      1      0  71.2833   C85     None
2         1       3    0  26.0      0      0   7.9250     0     None
3         1       1    0  35.0      1      0  53.1000  C123     None
4         0       3    1  35.0      0      0   8.0500     0     None

In [4]:
td.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [2]:
td.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [9]:
td['Embarked']=td['Embarked'].fillna("S",inplace=True)
td['Cabin']=td['Cabin'].fillna("0",inplace=True)

In [18]:
x=preprocessing.LabelEncoder()
td=td.drop(['Name','Ticket','PassengerId','Cabin'],inplace=True)

cols=['Sex','Embarked']
for i in td[cols].columns:
	td[i]=x.fit_transform(td[i])
	print (td[i])

#X_train=td[[x for x in td.columns if 'Survived' not in x]]
#print (X_train)
#Y_train=td['Survived']
#print (Y_train)
#y=preprocessing.LabelEncoder()

KeyError: "labels ['Name' 'Ticket' 'PassengerId' 'Cabin'] not contained in axis"